*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(226, 43%, 10%);
    max-width: 1440px;
    font-family: 'Raleway', sans-serif;
}
main {
    width: 80vw;
    height: 80vh;
    margin: 100px auto;
    display: grid;
    gap: 15px;
    grid-template-areas: "jeremy status";
    
}
.jeremey{
   
    border-radius: 10px;
    width: 20vw;
    height: 100%;
    background-color: hsl(235, 46%, 20%);
}
.avatar--section{
    display:flex;
    flex-direction: column;
    background-color:hsl(246, 80%, 60%);
    height: 70%;
    border-radius: 10px;
    color: white;
    padding: 40px 20px 60px 20px;
}
.schedule{
    color: white;
    padding: 20px 30px 20px;
}

.avatar {
    height: 5em;
    width: 5em;
    border: 1.5px solid white;
    border-radius: 50px;
  
}
.detail{

    padding-top: 30px;
    padding-left: 10px;
    font-weight: normal;

}
p {
    opacity: 0.5;
    padding-bottom: 20px;
}

.btn {
    font-size: 1rem;
    background: none;
    border: none;
    color: hsl(236, 100%, 87%);
}

.btn:hover {
    color: white;
}

.btn--active {
    color: white;
}
.routine--container {
    
    height: 39vh;
    border-radius: 10px;
    color: white;
    
     
}
.routine--info{
    
    background-color: hsl(235, 46%, 20%);
    height: 30vh;
    margin-top: 56px;
    border-radius: 10px;
    
    
}
    
.card--header{
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
    
}


.daily {
        
    justify-content: space-between;
    padding-left: 10%;
    display: none;
}

.daily--active {
    display: flex;
    flex-direction: column;

}

.weekly {
    justify-content: space-between;
    padding-left: 10%;
    display: none;

}

.weekly--active {
    display: flex;
    flex-direction: column;

}

.monthly {
    justify-content: space-between;
    padding-left: 10%;
    display:none;
}

.monthly--active {
    display: flex;
    flex-direction: column;

}
.current {
    font-size: 2rem;
    font-weight: 300;

}

.previous {
    font-weight: 300;
    font-size: .8rem;
    color: hsl(236, 100%, 87%);
}
.Work {
    grid-area: work;
    border-radius: 10px;
    background: hsl(15, 100%, 70%) url(images/icon-work.svg) no-repeat 222px -10px;




}
.Play {
    grid-area: play;
    border-radius: 10px;
    background: hsl(195, 74%, 62%) url(images/icon-play.svg) no-repeat 222px -5px;

    
}

.Study {
    grid-area: study;
    border-radius: 10px;
    background: hsl(348, 100%, 68%) url(/images/icon-study.svg) no-repeat 223px -5px;

}

.Exercise {
    grid-area: exercise;
    border-radius: 10px;
    background: hsl(145, 58%, 55%) url(/images/icon-exercise.svg) no-repeat 220px -2px;

}

.Social {
    grid-area: social;
    border-radius: 10px;
    background: hsl(264, 64%, 52%) url(/images/icon-social.svg) no-repeat 230px -18px;

}

.Self-care {
    grid-area: self-care;
    border-radius: 10px;
    background: hsl(43, 84%, 65%) url(/images/icon-self-care.svg) no-repeat 233px -16px;
   

}
.status{
    display: grid;
    height: 40vh;
    width: 60vw;
    gap: 15px;
    grid-template-areas: "work play study"
                          "exercise social self-care";
}
.stats--title-name{
    font-size: 1.3rem;
    font-weight: 500;
}


@media screen and (max-width: 767.98px){
    main{
        display: flex;
        flex-direction: column;
    }
    .jeremey{
        width: 100%;
    }
    .status {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .daily {
        
        justify-content: space-between;
        padding-left: 10%;
        display: none;
    }
    
    .daily--active {
        display: flex;
        flex-direction: row;
    
    }
    
    .weekly {
        justify-content: space-between;
        padding-left: 10%;
        display: none;
    
    }
    
    .weekly--active {
        display: flex;
        flex-direction: row;
    
    }
    
    .monthly {
        justify-content: space-between;
        padding-left: 10%;
        display:none;
    }
    
    .monthly--active {
        display: flex;
        flex-direction: row;
    
    }
    .routine--info {
        height: 20vh;  
    }
}

